<h1>Enter Text To Reverse</h1>

<form action="/reversed" method="post" accept-charset="utf-8">
  <input type="text" name="post[text]" value="Enter text to reverse..." id="user_input" /><br />
  <input type="submit" value="Reverse it!">
</form>